@model CAAMarketing.Models.InventoryTransfer

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/Createmultipletranfers.css" asp-append-version="true" />

<div class="container">
    <ul class="progressbar">
        <li class="active">
            <p>Select Transfer To Location</p>
        </li>
        <li >
            <p>Select Transfer Items</p>
        </li>
        <li >
            <p>Choose Quantities/Locations</p>
        </li>
    </ul>
</div>


        <form asp-action="CreateMultipleTransfers">
            <div class="cont">
                    <div class="deimage">
                    <h1 style="padding-top:15px"><u><b>Step 1:</b></u></h1><h2>Create Inventory Transfer</h2><h5>Select The <b>Location</b> You Want All The Items You Want To Transfer To</h5><small style="color: red">* required fields</small>
                        <hr />
                        <div class="deimage2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label class="control-label required-label">Choose To Location</label>
                <div class="input-group">
                    <select asp-for="ToLocationId" class="form-control select2" asp-items="ViewBag.ToLocationId" required>
                        <option value="">Please Choose</option>
                    </select>
                    
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TransferDate" class="control-label required-label"></label>
                <input asp-for="TransferDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" required/>
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>


            </div>
            <div style="margin:25px">
                <input type="submit" title="Click here to create new Transfer" value="Create" class="btn-submit" />
                <div class="tooltip"> <a href="javascript:history.back()"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon"/> <span class="tooltiptext">Back To Inventory</span></a> </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



 
    <script>
        var tempData = @Html.Raw(Json.Serialize(TempData));

        $(document).ready(function () {
            $('#fromLocationDropdown').on('change', function () {
                var selectedOption = $(this).val();
                var quantityText = $('#quantityText');

                if (selectedOption != null && selectedOption != '') {

                    var selectedOptionData = tempData[selectedOption];
                    console.log( tempData[selectedOption])
                    if (selectedOptionData != null) {

                        quantityText.text("Current Quanity: " + selectedOptionData );
                    }
                } else {
                    quantityText.text('');
                }
            });
        });
    </script>



}
